$breakpoints: (
  xsm: 320px,
  sm: 480px,
  md: 768px,
  lg: 1280px,
  xlg: 1440px,
  xxlg: 1920px
);

@mixin min-breakpoint($breakpoint) {
  $min-width: map-get($breakpoints, $breakpoint );

  @media only screen and (min-width: $min-width) {
    @content;
  }
}
