$min-breakpoints: (
  xsm: 280px,
  sm: 480px,
  md: 768px,
  xmd: 920px,
  lg: 1366px,
  xlg: 1640px,
  xxlg: 1920px
);

@mixin min-breakpoint($breakpoint) {
  $min-width: map-get($breakpoints, $breakpoint );

  @media only screen and (min-width: $min-width) {
    @content;
  }
}
